@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
   justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(../Registro/img/Comunidad\ icon-01.png) no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #20bec6;
 
}

.wrapper {
  width: 50%;
  height: 75%;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(50px);
  border-radius: 10px;
  color: #fff;
  padding: 48px 35px 55px;
  margin-top: 6rem;
  margin-left: 5rem;
  
 
}
.wrapper h1 {
  font-size: 36px;
  text-align: center;
  margin: bottom 20px;
}
.wrapper .input-box {
  display: flex;
  flex-direction: column; /* Apilar los elementos en una columna */
  gap: 20px; 
  background: transparent;
}
.input-box .input-field {
  width: 100%; 
  background: transparent;
  margin: 13px 0;
}

.input-box .input-field input {
  width: 100%; /* Asegura que el campo de entrada ocupe el ancho completo */
  height: 100%;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  outline: none;
  font-size: 16px;
  color: #fff;
  border-radius: 6px;
  padding: 15px 15px 15px 40px;
}
.input-box .input-field input::placeholder {
  color: #fff;
  text-align: center;
}

#userName{
    width: 100%;
    align-items: center;
    
}
.input-box .input-field i {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}
.wrapper label {
  display: inline-block;
  font-size: 14.5px;
  margin: 10px 0 23px;
}
.wrapper label input {
  accent-color: #fff;
  margin-right: 5px;
}

.wrapper .btn {
  width: 80%;
  height: 2rem;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  margin: 0.2rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 4px; 
}


/* Estilo general del contenedor del formulario */
.registroAdminContenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  /* background-image: url("../Registro/img/Patron Flechas-01.png");  */
}

/* Estilo del formulario */
#registroAdmin {
  border: 2px solid #ec008c; 
  padding: 20px; 
  border-radius: 8px;
  background-color: white; 
  width: 300px; 
}


.input1 {
  margin-bottom: 15px; 
}

/* Estilo de los campos de entrada */
#registroAdmin input[type="text"],
#registroAdmin input[type="password"] {
  width: 100%; 
  padding: 10px; 
  border: 1px solid #ddd; 
  border-radius: 4px; 
}


.input1buton {
  text-align: center; 
}

/* Estilo del botón */
#btnEnviarAdmin {
  padding: 10px 20px; 
  border: none; 
  border-radius: 4px;
  background-color: #f7901e; 
  color: white;
  cursor: pointer; 
  font-size: 16px; 
}

.pasarLogIn {
  text-align: center; 
  margin-top: 10px; 
}

.pasarLogIn p {
  margin: 0; 
}

.pasarLogIn a {
  color: blue; 
  text-decoration: none;
}

.pasarLogIn a:hover {
  text-decoration: underline; 
}

#btnRegistroAdmin {
  position: absolute;
  top: 1rem; 
  right: 1rem; 
  z-index: 1000; 
  background-color: #ec008c;
  color: white;
}


.modal-header{

  background-color: #20bec6;

}


#btnPassword{

  background-color: #f7901e;
  border-color: #f7901e;

}

@media (max-width: 576px) {
  .input-box .input-field {
    width: 100%;
    margin: 10px 0;
  }
} 